<!DOCTYPE html>
<html lang="en-us">

    <head>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <title>Three Blind Mice - Stock Market Analysis</title>

        <!-- Boostrap Stylesheet -->
        <link rel="stylesheet" href="static/css/bootstrap.min.css" media="screen">

        <!-- Our own CSS stylesheet -->
        <link rel="stylesheet" href="static/css/styles.css" media="screen">

    </head>

    <!-- # test -->