<!DOCTYPE html>
<html lang="en-us">

    <head>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <title>Three Blind Mice - Stock Market Analysis</title>

        <!-- Boostrap Stylesheet -->
        <link rel="stylesheet" href="static/css/bootstrap.min.css" media="screen">

        <!-- Our own CSS stylesheet -->
        <link rel="stylesheet" href="static/css/styles.css" media="screen">

    </head>

    <body>
        <!-- Start of navbar -->
        <nav class="navbar navbar-default">
            <div class="container-fluid navbar-custom">

                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="row">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle Navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <nav class="navbar navbar-expand-xl">
                            <a class="navbar-brand" style="background-color: #666" href="index.html" id="logo">"The
                                Consistent 17" - The 17 Consistent
                                Stocks on the Dow 2000-2019 </a>
                        </nav>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right navbar-right-custom">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                    aria-haspopup="true" aria-expanded="false">Stocks <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="/stocktable">"The 17"</a></li>
                                    <li><a class="dropdown-item" href="/stockdata">Data</a></li>

                                </ul>
                            </li>
                            <li><a href="/">Home</a></li>

                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div>
            </div><!-- /.container-fluid -->
        </nav>
        <!-- End of navbar -->

        <!-- Start of container -->
        <div class="container">
            <table border=2>
                <thead>
                    <tr>
                        <th colspan="3"> "The Consistent 17"</th>
                    </tr>
                    <tr>
                        <th> Number </th>
                        <th> Ticker </th>
                        <th> Company Name </th>
                    </tr>
                </thead>
                <tr>
                    <td>1</td>
                    <td>AXP</td>
                    <td>American Express Company</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>CAT</td>
                    <td>Caterpillar Inc.</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>DIS</td>
                    <td>Walt Disney Co.</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>HD</td>
                    <td>Home Depot Inc.</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>IBM</td>
                    <td>IBM</td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>INTC</td>
                    <td>Intel Corporation</td>
                </tr>
                <tr>
                    <td>7</td>
                    <td>JNJ</td>
                    <td>Johnson & Johnson</td>
                </tr>
                <tr>
                    <td>8</td>
                    <td>JPM</td>
                    <td>JPMorgan Chase & Co.</td>
                </tr>
                <tr>
                    <td>9</td>
                    <td>KO</td>
                    <td>Coca-Cola Co.</td>
                </tr>
                <tr>
                    <td>10</td>
                    <td>MCD</td>
                    <td>McDonald's Corp</td>
                </tr>
                <tr>
                    <td>11</td>
                    <td>MMM</td>
                    <td>3M Co.</td>
                </tr>
                <tr>
                    <td>12</td>
                    <td>MRK</td>
                    <td>Merck & Co., Inc.</td>
                </tr>
                <tr>
                    <td>13</td>
                    <td>MSFT</td>
                    <td>Microsoft Corporation</td>
                </tr>
                <tr>
                    <td>14</td>
                    <td>PG</td>
                    <td>Procter & Gamble Co</td>
                </tr>
                <tr>
                    <td>15</td>
                    <td>UTX</td>
                    <td>United Technologies Corporation</td>
                </tr>
                <tr>
                    <td>16</td>
                    <td>WMT</td>
                    <td>Walmart Inc.</td>
                </tr>
                <tr>
                    <td>17</td>
                    <td>XOM</td>
                    <td>Exxon Mobil Corporation</td>
                </tr>

                <!-- </section> -->
        </div>
        <!-- End of container -->

        <!-- Start of footer -->
        <footer class="footer navbar-fixed-bottom">
            <div class="two-toned-footer-color"></div>
            <p class="text-muted text-muted-footer text-center">
                &copy; Three Blind Mice - Michael Bell | Rob Chesser | Adam Durar
            </p>
        </footer>
        <!-- End of footer -->

        <!-- jQuery CDN -->
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>

        <!-- Bootstrap CDN -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    </body>

</html>

<!-- # test -->